# Directorios de Python y caché
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Directorios de Git y VS Code
.git/
.gitignore
.vscode/
.idea/

# Datos y logs locales (se manejan vía volúmenes)
data/*.db
data/*.sqlite
logs/
reports/

# Otros
.DS_Store
README.md
Dockerfile
docker-compose.yml
